#signin{
    width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: red;
}

.label {
    width: 120px;
    margin: 0 0.5em 0.5em 0;
    float: left;
    clear: left;
    text-align: right;
}
.testlabel {
    clear: right;
    text-align: left;
}
.value {
    margin: 0 0 0.5em 0;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
}

.center {
    text-align: center;
}
